.DS_Store
.dart_tool/
.idea/

.packages
.pub/

build/

cpp_test/googletest/
cpp_test/lib/

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Sfizz plugin artifacts and temp files
# Don't ignore xcframeworks and headers - they need to be in the repo for the package to work
# ios/third_party/sfizz/xcframeworks/
# ios/third_party/sfizz/src/
ios/xcframeworks.zip
ios/src.zip
macos/xcframeworks.zip
macos/src.zip
